<div class="section white" id="what-i-have-done">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center black medium bold">What the fuck have i done?</p>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 80px;">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center black sm">Jobs</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" ng-repeat="job in ctlr.jobs">
                <p class="text-center black smm">{{job.title}}</p>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center black small">{{job.longDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 80px;">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center black sm">University Projects</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" ng-repeat="project in ctlr.projects">
                <p class="text-center black smm">{{project.title}}</p>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center black small">{{project.longDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 80px;">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center black sm">Personal Projects</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p class="text-center black smm">Project</p>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center black small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <p class="text-center black smm">Project</p>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center black small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <p class="text-center black smm">Project</p>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center black small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <p class="text-center black smm">Project</p>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center black small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>